.footer {
  height: 120px;
  color: #333;
  background-color: #cfcfcf;
  margin-top: auto;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  padding: 10px 0;

  .fio {
    font-size: 20px;
    text-align: center;
  }

  .numbers {
    display: flex;
    justify-content: center;
    
    .number {
      padding: 0 20px;
    }
  }

  .social {
    display: flex;
    justify-content: center;

    .media {
      line-height: 15px;
      display: flex;
      padding: 0 20px;
    }
  }
}
