.profile {
  display: flex;

  .profilePhoto {
    margin-right: 50px;
  }

  .fullname {
    font-size: 36px;
    font-weight: 600;
  }

  .cellNumbers {
    display: flex;

    p {
      padding: 0 10px 0 0;
    }
  }
}
